<p><b> <%= comment.user.first_name + " " + comment.user.last_name%> </b>
- <%= distance_of_time_in_words(Time.now - comment.created_at) %>
 <%= t ".content_1" %>
<% if user_signed_in? && comment.user_id == current_user.id %>
  <%= link_to t(".edit"), edit_post_comment_path(comment.post, comment) %>
  - <%= link_to t(".delete"), post_comment_path(comment.post, comment),
  method: :delete, data: {confirm: t("delete_confirm_message")} %>
<% end %>
<br/>
<%= comment.content %>
<br/></p>
