<% provide :title, t("user_index") %>

<h1><%= t(".content_1") %></h1>

<% if @users.size == 0 %>
  <h2><%= t ".content_2" %></h2>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> <%= t ".tab_tit_id" %> </th>
        <th> <%= t ".tab_tit_fname" %> </th>
        <th> <%= t ".tab_tit_lname" %> </th>
        <th> <%= t ".tab_tit_email" %> </th>
        <th> <%= t ".tab_tit_phone" %> </th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
<% end %>


