<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="posts_content">
      <%= link_to t(".edit"), edit_post_path(post.id), class: "btn btn-custom" %>
      <%= link_to t(".delete"), @post, method: :delete,
        data: {confirm: t("delete_confirm")}, class: "btn btn-custom" %>
      <ul>
        <li> <%= distance_of_time_in_words(Time.now - post.created_at) %> </li>
        <li> <%= post.title %> </li>
        <li> <%= post.content %> </li>
        <li><div class="col-md-6" id="post_btns"> Like </div></li>
        <li><div class="col-md-6" id="post_btns">
          <%= link_to "Comment", post_path(post.id) %>
        </div></li>
      </ul>
    </div>
  </div>
</div>
