<% provide :title, t("post_detail") %>

<div class="col-md-6 col-md-offset-3">
  <div class="post_content_display">
    <% if user_signed_in? && @post.user_id == current_user.id %>
      <%= link_to t(".edit"), edit_post_path(@post) %>
      <%= link_to t(".delete"), @post_path, method: :delete,
        data: {confirm: t("delete_confirm_message")} %>
    <% end %>
    <p> <%= distance_of_time_in_words(Time.now - @post.created_at) %> </p>
    <p> <%= @post.title %> </p>
    <p> <%= @post.content %> </p>
    <div class="row">
      <div class="col-md-6", id="post_btns"> Like </div>
      <div class="col-md-6", id="post_btns">
        <%= link_to t(".comment"), new_post_comment_path(@post) %>
      </div>
    </div>
    <hr>
  <%= render @post.comments %>
  </div>
</div>
