<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t("logo_in_word"), root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <ul class="nav navbar-nav navbar-left">
      <% if user_signed_in? %>
        <li><%= link_to t(".add_post_btn"), new_post_path %></li>
      <% end %>
      <li><%= link_to t(".users_btn"), users_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <%= link_to "#" , class: "dropdown-toggle", data: {toggle:"dropdown"} do %>
          <%= current_user.first_name %> <b class="caret"></b> <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile_btn"), current_user %></li>
            <li><%= link_to t(".setting_btn"), edit_user_registration_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to t(".sign_out_btn"), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t(".sign_in_btn"), new_user_session_path %></li>
        <li><%= link_to t(".signup_btn"), new_user_registration_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
